<div class="iavouch_mast">

<!-- <a href="#" class="toggle-button">click to toggle</a>   --> 
<div class="iavouch_lanyard_wrapper">    
  <!-- <iframe class="sw_login" src="http://localhost:3000/authentications?layout=embed" width="90%" height="70%"></iframe>  -->

  <div class="comments">
    <div class="comments-header">
        <div class="grid_6">Showing 12 reviews</div>
        <div class="grid_5">hide transcripts</div>
    </div>
    <div class="clear"></div>
    <p></p>              
    <div class="comments-each">
      <table>
        <tr>
          <td width="64">
            <img src="/images/authbuttons/linkedin.png" width="64" height="64" alt="Linkedin"> 
          </td>
          <td class="table-rightside">
            <p>John Carter / President @ Planet Mars</p>                        
            <div class="review-each">
             <audio src="http://s3.amazonaws.com/audiojs/02-juicy-r.mp3" preload="auto"></audio>
             <div class="review-left">posted 12 days ago</div>
             <div class="review-right">share / like / <b style="background-color:lightgrey;padding-bottom:2px;">transcript</b> / reply </div>
             <div class="clear"></div>
             <div class="trans">
              This is my review where Bill Jones spoke to us. I feel like no matter how much time is devoted to the review it is not enough, he was that good.
             </div>
            </div>
        </tr>
      </table>  
    </div>
  </div>  
  
  
  <div class="iavouch_lanyard_content">
  <table border="0" cellspacing="5" cellpadding="5">
  <% @remoteurl.reviews.each do |review| %>
        <tr>
          <td><%= review.name %></td>
        </tr>
  <% end %>
  </table>
  <% if user_signed_in? %>
  <%= render :text => request.env["HTTP_REFERER"] %>
  <% end %>
  </div>
  <div style="clear:both"></div>
  </div>  
<style type="text/css" media="screen" id="sw_css_<%= v %>">
#sw_<%= v %> .toggle-popup{text-decoration: underline;}   
#sw_<%= v %> {overflow: visible;height: auto;background-color: white}  

</style>
<style type="text/css" media="screen">
  /* http://meyerweb.com/eric/tools/css/reset/ */
  /* v1.0 | 20080212 */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, font, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	outline: 0;
  	font-size: 100%;
  	vertical-align: baseline;
  	background: transparent;
  }
  body {
  	line-height: 1;
  }
  ol, ul {
  	list-style: none;
  }
  blockquote, q {
  	quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  	content: '';
  	content: none;
  }

  /* remember to define focus styles! */
  :focus {
  	outline: 0;
  }

  /* remember to highlight inserts somehow! */
  ins {
  	text-decoration: none;
  }
  del {
  	text-decoration: line-through;
  }

  /* tables still need 'cellspacing="0"' in the markup */
  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }
  /*
  	960 Grid System ~ Text CSS.
  	Learn more ~ http://960.gs/

  	Licensed under GPL and MIT.
  */

  /* =Basic HTML
  --------------------------------------------------------------------------------*/

  body
  {
  	font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  }

  a:focus
  {
  	outline: 1px dotted invert;
  }

  hr
  {
  	border-color: #ccc;
  	border-style: solid;
  	border-width: 1px 0 0;
  	clear: both;
  	height: 0;
  }

  /* =Headings
  --------------------------------------------------------------------------------*/

  h1
  {
  	font-size: 25px;
  }

  h2
  {
  	font-size: 23px;
  }

  h3
  {
  	font-size: 21px;
  }

  h4
  {
  	font-size: 19px;
  }

  h5
  {
  	font-size: 17px;
  }

  h6
  {
  	font-size: 15px;
  }

  /* =Spacing
  --------------------------------------------------------------------------------*/

  ol
  {
  	list-style: decimal;
  }

  ul
  {
  	list-style: square;
  }

  li
  {
  	margin-left: 30px;
  }

  p,
  dl,
  hr,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  ul,
  pre,
  table,
  address,
  fieldset
  {
  	margin-bottom: 20px;
  }
  #user_nav{text-align: right;}

  th {text-align: left;padding: 20px 0px;}
  #site_url {margin: 10px 0px;}   
  .actions {margin-bottom: 10px;}                     

  .authentications {
    margin-bottom: 30px;
  }

  .authentication {
    width: 130px;
    float: left;
    background-color: #EEE;
    border: solid 1px #999;
    padding: 5px 10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    position: relative;
    margin-right: 10px;
  }

  .authentication .remove {
    text-decoration: none;
    position: absolute;
    top: 3px;
    right: 3px;
    color: #333;
    padding: 2px 4px;
    font-size: 10px;
  }

  .authentication .remove:hover {
    color: #CCC;
    background-color: #777;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
  }

  .authentication img {
    float: left;
    margin-right: 10px;
  }

  .authentication .provider {
    font-weight: bold;
  }

  .authentication .uid {
    color: #666;
    font-size: 11px;
  }

  .auth_provider img {
    display: block;
  }

  .auth_provider {
    float: left;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  body{
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  textarea{
  	width:99.2%;
  	height:6em;
  	margin:4px 0px -3px 2px;
  	border:none;
  	overflow:auto;
  	resize: none;
  }
  table{       
  	margin:0px 0px;
  	width:100%;
  	overflow:hidden;
  }

  .grid_5 {
  	float:right;
  	margin:0px 2% 0px 0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 600;
  	font-size:1.2em;
  }
  .grid_6 {
  	float:left;
  	margin:0px 0px 0px 4px;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 600;
  	font-size:1.2em;
  }

  .left-bar{
  	margin:-4px 0px 0px 6px;
  	color:grey;
  	font-size: 0.9em;
  }

  .table-rightside{
  	vertical-align:top;
  	padding-left:4px;
  } 

  .table-rightside p{
  	margin: -2px 0px 1px 0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
  	font-size:1.2em;
  }
  .review-each{
  	width:500px;
  }
  .expand-bottom{
  	border-top:dotted;
  	border-width: 1px;
  	border-color: grey;
  	display:none;
  }

  .link{ 
  	margin-left: 2px;
  	font-size: 12px;
    line-height: 32px;
  	vertical-align: sub;
  }
  .vouch-button {
  		float:right;
      margin: -1px -1px -1px 0px;
      padding: 8px 20px;
      font-size: 12px;
      line-height: 14px;
      color: #585c60;
      background: url("/images/backgrounds-sprite.png") 0 -250px repeat-x;
      border: 1px solid #acb2b8;
      text-shadow: 0 1px 0 rgba(255,255,255, .9);

      -webkit-border-radius: 0 0 4px 0;
      -moz-border-radius: 0 0 4px 0;
      border-radius: 0 0 4px 0;


      -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255, .4), inset -1px 0 0 rgba(255,255,255, .4) ,0 1px 2px rgba(72,76,80, .25);
      -moz-box-shadow: 0 1px 2px rgba(72,76,80, .25);
      box-shadow: 0 1px 2px rgba(72,76,80, .25);

      font-weight: 600;
      right: -1px;
      top: -1px;
      z-index: 2;


      height: 34px;
  }

  .vouch-button:hover {
      background: url("/images/backgrounds-sprite.png") 0 -310px repeat-x;
  }

  .vouch-button:active {
      background: url("/images/backgrounds-sprite.png") 0 -370px repeat-x;
      -webkit-box-shadow: 0 1px 0 rgba(255,255,255, .8);
      -moz-box-shadow: 0 1px 0 rgba(255,255,255, .8);
      box-shadow: 0 1px 0 rgba(255,255,255, .8);
      padding-top: 9px;
      padding-bottom: 7px;
  }

  /* text box within iframe */
  .optional-text {
  		overflow:hidden;
      background: #fff url("/images/backgrounds-sprite.png") 0 -480px repeat-x;
      width: 98%;
      border: 1px solid #c1c1c1;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0, .16);
      -moz-box-shadow: inset 0 1px 4px rgba(0,0,0, .16);
      box-shadow: inset 0 1px 4px rgba(0,0,0, .16);
  } 

  .comments{
   margin-top:10px;
   width:580px; 
  } 
  .trans{
  	background-color: lightgrey;
  }

  .audiojs { width: 500px; height: 22px; background: #404040;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
    background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
  .audiojs .play-pause { width: 15px; height: 20px; padding: 0px 8px 0px 0px; }
  .audiojs p { width: 25px; height: 20px; margin: -3px 0px 0px -1px; }
  .audiojs .scrubber { width: 350px; background: #5a5a5a; height: 10px; margin: 5px; }
  .audiojs .progress { height: 10px; width: 0px; background: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc));
    background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%); }
  .audiojs .loaded { width: 350; height: 10px; background: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
    background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%); }
  .audiojs .time { float: left; height: 25px; line-height: 25px; }
  .audiojs .error-message { height: 24px;line-height: 24px; }

  .track-details { clear: both; height: 20px; width: 448px; padding: 1px 6px; background: #eee; color: #222; font-family: monospace; font-size: 11px; line-height: 20px;
    -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15); }
  .track-details:before { content: '♬ '; }
  .track-details em { font-style: normal; color: #999; }

  .review-left{
  	float:left;
  }            
  .review-right{
  	float:right;
  }

  /* =Clear Floated Elements
  --------------------------------------------------------------------------------*/

  /* http://sonspring.com/journal/clearing-floats */

  html body * span.clear,
  html body * div.clear,
  html body * li.clear,
  html body * dd.clear
  {
  	background: none;
  	border: 0;
  	clear: both;
  	display: block;
  	float: none;
  	font-size: 0;
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	visibility: hidden;
  	width: 0;
  	height: 0;
  }

  /* http://www.positioniseverything.net/easyclearing.html */

  .clearfix:after
  {
  	clear: both;
  	content: '.';
  	display: block;
  	visibility: hidden;
  	height: 0;
  }

  .clearfix
  {
  	display: inline-block;
  }

  * html .clearfix
  {
  	height: 1%;
  }

  .clearfix
  {
  	display: block;
  }
</style>

</div>    