<% if params[:layout] == 'embed' %>
<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @remoteurl.reviews.each do |review| %>
  <tr>
    <td><%= review.name %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to "Back", site_remoteurl_path(@remoteurl.site_id, @remoteurl) %>
<% else %>  
<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= link_to 'New Review', new_site_remoteurl_review_path(@remoteurl.site_id, @remoteurl) %>   
<% @remoteurl.reviews.each do |review| %>
  <tr>
    <td><%= review.name %></td>
    <td><%= link_to 'Destroy', [@site,@remoteurl,@review,review], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to "Back", site_remoteurl_path(@remoteurl.site_id, @remoteurl) %>
<% end %>